---
import BioArticle from ';/blocks/BioArticle.svelte'
import BioFigure from ';/blocks/BioFigure.astro'

const { title, text, figure } = Astro.props
---

<section class='Bio'>
  <BioArticle {title} {text} />
  <BioFigure {...figure} />
</section>
