---
import Logo from "../components/Logo.astro"
import Hero from "../components/Hero.astro"
import Home from "../layouts/Home.astro"
---

<Home>
    <Logo
        class="logo"
        src="/images/logo.png"
        alt="Red Innovation Logo"
    />

    <Hero class="hero">
        <h1 class="block md:hidden">
            RGQV
        </h1>

        <h1 class="hidden md:block lg:hidden">
            Roberto Quiroga
        </h1>

        <h1 class="hidden lg:block 3xl:hidden">
            Roberto Quiroga Valdovinos
        </h1>

        <h1 class="hidden 3xl:block">
            Roberto Gerardo Quiroga Valdovinos
        </h1>

        <h2 class="block sm:hidden">
            peintre.
        </h2>

        <h2 class="hidden sm:block md:hidden">
            artiste peintre.
        </h2>

        <h2 class="hidden md:block lg:hidden">
            artiste peintre. <span>valparaíso.</span>
        </h2>

        <h2 class="hidden lg:block">
            artiste peintre. <span>valparaíso, chili.</span>
        </h2>

        <p></p>
    </Hero>
</Home>