---
import Logo from "../components/Logo.astro"
import Hero from "../components/Hero.astro"
import Home from "../layouts/Home.astro"
---

<Home>
    <Logo
        class="logo"
        src="/images/logo.png"
        alt="Red Innovation Logo"
    />

    <Hero class="hero">
        <h1>
            Public tech for a better future
        </h1>

        <h2>
            Building the present of European digital public infrastructure
        </h2>

        <p>
            <b>
                We enable governments & companies to generate AI solutions by
                ensuring compliance with EU rules & guidelines.
            </b>

            Providing an edge in the global AI market by positioning compliance
            as part of your value proposition.

            Consolidating the EU’s humanist approach to AI by enabling
            compliance by principle and design - rather than an expensive
            afterthought.
        </p>
    </Hero>
</Home>