---
import BioArticle from '@components/BioArticle.svelte'
import BioFigure from '@components/BioFigure.astro'
const { title, text, figure } = Astro.props
---

<section class='Bio'>
  <BioArticle {title} {text} />
  <BioFigure {...figure} />
</section>
