---
import '../assets/styles/global.css'

const { title, author, description } = Astro.props
---

<head>
  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' />
  <title>{title}</title>
  <meta name='description' content={description} />
  <meta name='author' content={author} />
  <link rel='icon' href='/favicon.ico' sizes='32x32' />
  <link rel='icon' href='/icon.svg' type='image/svg+xml' />
</head>
