---
import { Image } from 'astro:assets'

const { src, alt } = Astro.props
const width = 80
const height = 80
---

<div class='Logo'>
  <Image
    class='Logo-img'
    src={src}
    alt={alt}
    width={width}
    height={height}
    loading='eager'
  />
</div>

<style>
  .Logo {
    @apply animate-fade-up-out;
    @apply -mb-20;
  }
</style>
