---
const { src, alt, ...rest } = Astro.props
---

<div class="Logo">
    <img
        class="Logo-img"
        src={ src }
        alt={ alt }
        { ...rest }
    />
</div>

<style>
    .Logo {
        @apply -mb-20;
    }

    .Logo-img {
        @apply w-20 h-20;
    }
</style>