---
const { src, alt } = Astro.props
---

<div class='Logo'>
  <img class='Logo-img' src={src} alt={alt} />
</div>

<style>
  .Logo {
    @apply -mb-20;
  }

  .Logo-img {
    @apply w-20 h-20;
  }
</style>
