---
import { Image } from 'astro:assets'
import { logo } from './Logo'
---

<div class='Logo'>
  <Image
    class='Logo-img'
    src={logo.src}
    alt={logo.alt}
    width={logo.width}
    height={logo.height}
    loading='eager'
  />
</div>

<style>
  .Logo {
    @apply animate-fade-up-out;
    @apply -mb-20;
  }
</style>
