---
const { items } = Astro.props
---

<nav class='Nav'>
  {
    items.map(({ text, href }) => (
      <>
        <a class='Nav-a' href={href}>
          {text}
        </a>
        <a class='Nav-a-sm' href={href}>
          {text}
        </a>
      </>
    ))
  }
</nav>

<style>
  .Nav-a {
    @apply pr-4;
    @apply text-sm;
    @apply inline-block sm:hidden;
  }

  .Nav-a-sm {
    @apply pr-8;
    @apply text-base;
    @apply hidden sm:inline-block;
  }
</style>
