:root {
  --unicode-range: U+20-5F U+61-7A U+7C U+A0-A1 U+A7 U+A9 U+AB U+B2-B3 U+BB U+BF
    U+C0 U+C1 U+C2 U+C6-CB U+C9 U+CD U+CE-CF U+D1 U+D3-D4 U+D9-DC U+E0-E1 U+E2
    U+E6-EB U+E9 U+ED U+EE-EF U+F1 U+F3-F4 U+F9-FA U+FB-FC U+FC U+FF U+152-153
    U+178 U+1D48-1D49 U+2010-2011 U+2013-2014 U+2018-2019 U+201C-201D
    U+2020-2021 U+2026 U+202F-2030 U+2030 U+2032-2033 U+20AC U+2212 U+2B3 U+2E2;
}

@font-face {
  unicode-range: var(--unicode-range, U+0-10FFFF);

  font-display: swap;
  font-family: AkzidenzGrotesk;
  font-style: normal;
  font-weight: 300;
  src: url('./../fonts/AkzidenzGrotesk-300-FR.woff2') format('woff2');
}

@font-face {
  unicode-range: var(--unicode-range, U+0-10FFFF);

  font-display: swap;
  font-family: AkzidenzGrotesk;
  font-style: normal;
  font-weight: 400;
  src: url('./../fonts/AkzidenzGrotesk-400-FR.woff2') format('woff2');
}

@font-face {
  unicode-range: var(--unicode-range, U+0-10FFFF);

  font-display: swap;
  font-family: AkzidenzGrotesk;
  font-style: normal;
  font-weight: 500;
  src: url('./../fonts/AkzidenzGrotesk-500-FR.woff2') format('woff2');
}

@font-face {
  unicode-range: var(--unicode-range, U+0-10FFFF);

  font-display: swap;
  font-family: AkzidenzGrotesk;
  font-style: normal;
  font-weight: 700;
  src: url('./../fonts/AkzidenzGrotesk-700-FR.woff2') format('woff2');
}

@font-face {
  unicode-range: var(--unicode-range, U+0-10FFFF);

  font-display: swap;
  font-family: AkzidenzGrotesk;
  font-style: normal;
  font-weight: 900;
  src: url('./../fonts/AkzidenzGrotesk-900-FR.woff2') format('woff2');
}
