---
import Head from '@components/Head.astro'
import Header from '@components/Header.astro'
import Nav from '@components/Nav.svelte'
import Footer from '@components/Footer.svelte'
import cover from '@images/logo.jpg'

const title = 'Roberto Quiroga Valdovinos'
const address = 'Lautaro Rosas 558, Cerro Alegre, Valparaíso'
const position = '-33.04351;-71.62888'

const head = {
  cover,
  title,
  address,
  position,
  keywords: ['Artiste', 'Peintre', 'Valparaíso', 'Chili'],
  description: `
        ${title}. Artiste peintre. Œuvres et contact :
        @maisonquiroga (Instagram). Exposition : ${address}, Chili.
    `
}

const header = {
  logo: {
    alt: 'Logo de Maison Quiroga',
    src: cover
  }
}

const navItems = [
  {
    text: 'Œuvres choisies',
    href: 'https://www.instagram.com/maisonquiroga/'
  },
  {
    text: 'Contact',
    href: 'mailto:roberto@maisonquiroga.art'
  },
  {
    text: 'Adresse',
    href: 'https://www.openstreetmap.org/way/1304668361'
  }
]

const footerItems = [
  {
    text: 'redtech',
    href: 'https://redte.ch'
  }
]
---

<html lang='fr'>
  <Head {...head} />

  <body>
    <main>
      <Header {...header} />
      <Nav {navItems} />
      <slot />
      <Footer {footerItems} />
    </main>
  </body>
</html>
