---
import Head from '@components/Head.astro'
import Header from '@components/Header.astro'
import Nav from '@components/Nav.svelte'
import Footer from '@components/Footer.svelte'

const { page } = Astro.props
---

<html lang='fr'>
  <Head page={{ ...page, url: Astro.url }} />

  <body>
    <main>
      <Header />
      <Nav />
      <slot />
      <Footer />
    </main>
  </body>
</html>
