---
import Head from "./Head.astro"
import Footer from "../components/Footer.astro";
---

<html lang="fr">
    <Head />

    <body>
        <main>
            <slot />
            <Footer />
        </main>
    </body>
</html>